# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/.vs/Larn/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.log
*.ipdb
*.iobj
src/x64/Release/Larn.vcxproj.FileListAbsolute.txt
src/x64/Release/Larn.exe.recipe
docs/.DS_Store
.DS_Store
x64/Release/Larn.vcxproj.FileListAbsolute.txt
x64/Release/Larn.exe.recipe
utils/LarnLauncher/LarnLauncher.vcxproj.user
.vs/Larn/v17/.suo
utils/LarnLauncher/.vs/LarnLauncher/v17/.suo
*.recipe
*.res
utils/LarnLauncher/x64/Debug/LarnLauncher.vcxproj.FileListAbsolute.txt
x64/Release/RCa25752
larn
